*
{
    margin: 0;
    border: 0;
}
.nav{
    background: #5f99e4;
}

#home
{
    background:white;
    border: .5px solid rgb(170, 187, 243);
    padding: 7vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;

}

#about
{ 
    background-color: white;
    padding: 20px;
    font-size: x-large;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    
    border: .5px solid rgb(170, 187, 243);

  
}
#about p{

    width: 60%;
    margin-right: 10px;
}
#about h2{
      font-size: 2rem;
      padding-bottom: 25px;
}
#skill
{
    background: white;
    border: .5px solid rgb(170, 187, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 7rem;
}
#skill ul{
    border-top: 1px solid rgb(214, 208, 208);
    padding: 1rem;
    display: flex;
    gap: 20px;
    list-style: none;
    
}
.separator
{
    border-right: 1px solid gray;
    padding-right: 20px;
}

#about img
{
    border: 5px solid rgb(107, 160, 221);
    border-radius: 50%;
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}
#projects
{
    margin-top: 100px;
}
.card:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}

#contact
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10vw;
    gap: 30px;
    border: .5px solid rgb(170, 187, 243);
}
.input
{
    width: 400px;
    border: 1px solid rgb(213, 218, 218);
    padding: 5px;
    margin-bottom: 10px;
}
#button
{
    width: 200px;
    padding: 10px;
    background: #5f99e4;
    border: 1px;
    border-radius: 10px;
    margin: 30px;
    }
    @media(max-width:728px)
    {
        #about p
        {
         width: 100%;
         padding: 5px;
        margin: 5px;}
         .input{
            width: 80%;
         }
    };